.bf-margin{
    margin: 5%;
    max-width: 100%;
    margin-left: 30px;
  }
  
  .bf-desc-margin{
    margin: 5%;
    max-width: 100%;
    margin-top: 20%;
  }
  
  .btn-visit{
    margin-right: 30px;
  }
  
  .lunch-margin{
    margin-right: 30px;
    max-width: 100%;
  }
  
  .lunch-desc-margin{
    margin: 5%;
    max-width: 100%;
    margin-top: 15%;
  }